html,.scroll{
    scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
}

html::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color:var(--clr-light-50);
}

html::-webkit-scrollbar,
.scroll::-webkit-scrollbar{
    width:8px;
    background-color:var(--clr-light-50);
}

html::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color:var(--clr-primary , #2dcc70);
}

.root{
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns:65px 1fr;
    grid-template-rows:70px 1fr;
    background: var(--clr-acc-100);
}

.root .root__aside{
    grid-row:1 / span 2; 
    padding: 10px 8px;
    background-color:var(--clr-light-100);
    box-shadow: 0 0 10px #ddd;
}

.root__aside ul{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.root__aside .root__my-name{
    position: relative;
    width: fit-content;
    padding-bottom: 5px;
    margin:0 auto 13px auto;
    font-size:.81rem;
    text-align: center;
    border-bottom:none;
}

.root__aside .root__my-name::after{
    content: '';
    position: absolute;
    bottom:-11px;
    left: 50%;
    transform: translateX(-50%);
    
    width:20px;
    height:20px;
    border:4px solid var(--clr-light-100);
    border-radius: 50%;
    background:var(--clr-dark-100);
    display: none;

}



.root__aside li a{
    display: flex;
    align-items:center;
    padding:10px;
    margin-bottom:5px;
    border-radius: 6px;
    column-gap:0.63rem;
    transition: .3s;
}

.root__aside li a.active{
    background: var(--clr-light-50);
}

.root__aside li a:hover {
    background: var(--clr-light-50);
}

.root__aside li span{
    display: none;
    font-weight: 500;
}

/* header */

.root__header{
    grid-row:1 / span 1; 
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background:var(--clr-light-100);
    box-shadow:0 0 5px 5px var(--clr-light-25);
}

.root__header .search-container{
    position: relative;
    width:160px;
}


.root__header .search-container::before{
    content: "\f002";
    font-size: .88rem;
    font-family: var(--font-awesome);
    font-weight: bold;
    position: absolute;
    top:50%;
    left:15px;
    transform: translateY(-41%);
    color: var(--clr-dark-25);
}

.root__header .search-container input{
    width:100%;
    padding-left: 30px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;    
    font-size:.88rem;
    background: var(--clr-light-100);
    transition: width 0.3s;
}

.root__header .search-container input:focus {
    width:170px;
}

.root__header .search-container input:focus::placeholder {
    opacity: 0;
}

.root__header .me{
    width:32px;
    height:32px;
    border-radius: 50%;
}

.bell::after {
    content: '';
    position: absolute;
    top:-15px;
    right:-5px;
    width:10px;
    height:10px;
    border-radius: 50%;
    background:var(--clr-tomato-100);
}

.bill-picture{
    position: relative;
    gap:.94rem;
}

/******** toggle  *********/
.mode-settings-container{
    position: absolute;
    top:50px;
    right:2px;
    padding:5px 2px;
    z-index: 2000;
    cursor: pointer;
    font-size: 1.3rem;
    background:var(--clr-light-100);
}

.mode-settings {
    border-radius: 50%;
    animation: settings-mode 2.5s linear infinite;
}


.header__toggle{
    position: absolute;
    top:-100px;
    left: 50%;
    transform: translateX(-50%);
    transition: top .3s ease-in-out;
    z-index: 2000;
    border: 2px solid var(--clr-dark-100);
    border-radius: 10px;
    padding: 5px;
}

.header__toggle.drop-mode{
    top: 100px;
}

/* root__page */

.root__page {
    grid-row:2 / span 1;
    padding-left:10px;
    padding-right:10px;
    display: grid;
    background: inherit;
}

.page__header{
    background: inherit;
}

.page__heading{
    padding: 20px 20px 40px;
}

.page__heading:after,
.page__heading:before{
    content: '';
    position: absolute;
    bottom:20px;
    left:20px;
    height: 3px;
    border-radius: 3px;
}

.page__heading::before{
    width:100%;
    background: var(--clr-light-100);
}

.page__heading:after{
    width:35px;
    background: var(--clr-dark-100);
}

.boxes-container > article{
    border-radius: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.box{
    border-radius: 6px;
    background: var(--clr-light-100);
}

/* start toggle */

.custom-toggle{
    display: flex;
    align-self: flex-start;
}

.custom-toggle input{
    appearance: none;
    -webkit-appearance: none;
}

.switch-container{
    width: 78px;
    height: 32px;
    background:#ccc;
    border-radius: 15px;
    margin-top:3px;

    transition: background-color .5s ease-in-out;
}

.switch-container .circle{
    position: absolute;
    top:50%;
    left:2px;
    transform: translateY(-50%);
    height:25px;
    width: 25px;
    background: var(--clr-light-100);
    transition: left .5s ease-in-out;
}

.custom-toggle .circle::after{
    content: '\f00d';
    position: absolute;
    top: 4px;
    left: 5px;
    font-family: var(--font-awesome);
    font-weight: 700;
    border-radius: inherit;
    color:var(--clr-dark-25);

    transition: color .5s ease-in-out ;
}

.custom-toggle:has(input:checked) .circle::after{
    content: '\f00c';
    color: var(--clr-facebook-100);
}

.custom-toggle input:checked + div{
    background: var(--clr-facebook-100);
}

.custom-toggle input:checked + div > span{
    left:calc(100% - 27px);
}

.switch-container--mode.moon{
    background: var(--clr-facebook-100);
}
.switch-container--mode.moon span{
    left:calc(100% - 15px);
}

/*********** animation ***********/

@keyframes settings-mode {
    to{
        transform: rotateZ(360deg);
    }
}