/*768px 995px 1200px 1400px*/

@media (min-width:768px){
    /* components */

    .grid-small-boxes{
        grid-template-columns: repeat(auto-fill,minmax(var(--small-box-w),1fr));
        gap: 20px;
    }
    .grid-medium-boxes{
        grid-template-columns: repeat(auto-fill,minmax(var(--medium-box-w),1fr));
        gap: 15px;
    }
    .grid-large-boxes{
        grid-template-columns: repeat(auto-fill,minmax(var(--large-box-w),1fr));
        gap: 10px;
    }

    /* classes */

    .sm-center{
        text-align: start;
    }

    .sm-block-md-flex{
        display: flex;
    }

    .sm-hide-md-block{
        display: block;
    }

    .sm-hide-md-inline{
        display: inline;
    }

    .sm-inline-md-hide{
        display: none;
    }

    .sm-block-md-flex{
        display: flex;
    }

}

@media (min-width:992px){
    :root{
        --container-large-boxes-x:40px;
        --container-medium-boxes-x:40px;
        --container-medium-boxes-x:40px;
    }
    .root{
        grid-template-columns:150px 1fr;
    }
    .root .root__aside li span{
        display: block;
    }

    .sm-hide-lg-inline{
        display: inline;
    }

    .sm-inline-lg-hide{
        display: none;
    }
}