
@media (max-width:345px){
    body{
        font-size: 14px;
    }
    .root__header .search-container{
        width: 130px;
    }
    .root__header .me{
        width: 0;
    }
    .root__page{
        padding: 1px;
    }
    .fs-13,.fs-14{
        font-size: 10px;
    }
    .fs-15{
        font-size: 12px;
    }

    h2{
        font-size: 1.1rem;
    }

    .root__header .search-container{
        width: 130px;
    }
    .root__header .me{
        width: 0;
    }
}

@media (max-width:500px){
    .activities .flex-center-between , .activities .flex{
        flex-direction: column;
        align-items: center;
    }
    
    .activities .article__intro{
        margin-bottom: 20px;
    }

    /* projects */

    .main-projects .structure{
        flex-direction: column;
    }

    .structure__footer{
        flex-direction: column;
    }

}



/*767px 995px 1200px 1400px*/


@media (min-width:767px){
    /* components */

    .grid-x-small-boxes{
        gap: 15px;
    }
    .grid-small-boxes{
        grid-template-columns: repeat(auto-fill,minmax(var(--small-box-w),1fr));
        gap: 20px;
    }
    .grid-medium-boxes{
        grid-template-columns: repeat(auto-fit,minmax(var(--medium-box-w),1fr));
        gap: 15px;
    }
    .grid-large-boxes{
        grid-template-columns: repeat(auto-fill,minmax(var(--large-box-w),1fr));
        gap: 10px;
    }

    /* classes */

    .sm-center{
        text-align: start;
    }

    .sm-block-md-flex{
        display: flex;
    }

    .sm-hide-md-block{
        display: block;
    }

    .sm-hide-md-inline{
        display: inline;
    }

    .sm-inline-md-hide{
        display: none;
    }

    .sm-block-md-flex{
        display: flex;
    }

    /* lay out */

    .root{
        grid-template-columns: 200px 1fr;
    }
    .root .root__aside li span{
        display: block;
    }

    .root__aside{
        padding: 20px;
    }

    .root__page {
        padding-left:20px;
        padding-right:20px;
    }

    .root__aside .root__my-name{
        min-width:85px;
        font-size:1.17em;
        padding-bottom:24px;
        margin:13px auto 25px auto;
        border-bottom:2px solid var(--clr-dark-100);
    }

    .root__aside .root__my-name::after{
        display: inline-block;
    }

    /* dashboard */


    .welcome__cover{
        background-image: none;
    }

    .welcome__cover-img{
        display: block;
    }

    .welcome__profile-img{
        left:2rem;
        transform: none;
    }



    /* profiles */

    .profile-cart{
        min-width:220px;
    }

    .profile-informations .flex-center{
        align-items: flex-start;
        justify-content: flex-start;
    }

    .profile-informations ,  .profile-informations * {
        text-align: start;
    }

    /* files */

    .files-container{
        grid-template-columns: 1fr 220px;
        padding-left:10px;
        padding-right:10px;
    }

}

@media (min-width:992px){
    :root{
        --container-large-boxes-x:40px;
        --container-medium-boxes-x:40px;
        --container-medium-boxes-x:40px;
    }

    .sm-hide-lg-inline{
        display: inline;
    }

    .sm-inline-lg-hide{
        display: none;
    }

    /* profile */

    .profile_top{
        display: flex;
    }

    .profile-info > div:last-of-type{
        margin-bottom: 0;
    }

    /* courses */

    .main-courses .cover{
        min-height:250px;
    }

}

@media (min-width:1400px){
    .full-md-col{
        grid-column:auto;
    }
}
