


.main-courses button{
    top: 10px;
    z-index: 2;
}

.main-courses .cover{
    min-height:220px;
    background:var(--clr-dark-15);
    background-image:url('../../images/covers/course-1.webp');
    background-size: cover;
    background-position: top left;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.main-courses .cover--1{
    background-image:url('../../images/course-01.jpg');
}
.main-courses .cover--2{
    background-image:url('../../images/course-02.jpg');
}
.main-courses .cover--3{
    background-image:url('../../images/course-03.jpg');
}
.main-courses .cover--4{
    background-image:url('../../images/course-04.jpg');
}
.main-courses .cover--5{
    background-image:url('../../images/course-05.jpg');
}
.main-courses .cover--6{
    background-image:url('../../images/course-02.jpg');
}

.main-courses .small-img{
    top: 10px;
    left: 10px;
    width:65px;
    height:65px;
    padding:2px;
}

.cart-footer{
    opacity: .6;
}

@media (min-width:450px) and (max-width:600px){
    .main-courses .cover{
        min-height:300px;
    }
}