
.welcome__cover{
    background: var(--clr-light-25);
    background-image: url(../../images/covers/dashboard-cover.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 100px;
}
.welcome__cover-img{
    width:180px;
    height:80px;
    display: none;
}

.welcome__profile-img{
    position: absolute;
    bottom:-20px;
    left:20px;
    left:40%;
    bottom:-15px;
    transform: translateX(-50%);
    width:50px;
    height:50px;
}

.welcome__body{
    margin-top:35px ;
    padding: 0 5px;
}


.welcome__articles{
    background:var(--clr-light-50);
    border-top:.5px solid var(--clr-light-25);
    border-bottom:.5px solid var(--clr-light-25);
}

.welcome__articles article:not(:last-child){
    border-right: .5px solid var(--clr-light-25);
}

.welcome__articles article{
    padding:10px;
}

.welcome__articles span{
    letter-spacing: .5px;
}

/*********************** draft *****************/

.message textarea::placeholder,
.message input::placeholder{
    color: var(--clr-dark-50);
}

/********************* target ***************/
.target{
    align-items: flex-end;
}
.target__icon{
    width:70px;
    height:70px;
}

.target__content-progress{
    border-bottom: 2px solid var(--clr-orange-100-50);
    flex: 1;
    max-width: 250px;
}

.target__progress {
    top:2px;
    height: 2px;
}

.target--mony .target__content-progress{
    border-bottom: 2px solid var(--clr-facebook-50);  
}

.target--projects .target__content-progress{
    border-bottom: 2px solid var(--clr-orange-100-50);  
}
.target--team .target__content-progress{
    border-bottom: 2px solid var(--clr-primary-50);  
}

.target__progress span{
    position: absolute;
    top:-25px;
    right:-10px;
    padding: 2px 3px;
    border-radius: 3px;
    z-index: 0;
}

.target__progress span:after{
    content: '';
    position: absolute;
    bottom:-3px;
    left: 50%;
    transform: translateX(-50%)rotateZ(130deg);
    width:6px;
    height:6px;
    background:inherit;
    z-index:-1;
}

/******************** dashboard **************/
.tickets__content{
    gap: .75rem;
}
.tickets__content .ticket{
    flex: 1;
    min-width:130px;
    border: 1px solid #eee;
}

.ticket span:first-of-type{
    font-size:1.4rem;
}
/************************* latest news ***********/

.article__content img{
    height:60px;
    width: 110px;
    border-radius:7px;
}

.article__content{
    gap: 1rem 5px;
}

/*************** latest-tasks *****************/

.latest-tasks .complete--task h3,
.latest-tasks .complete--task p{
    text-decoration: line-through;
}

/********************* latest upload ***********/

.latest-upload img{
    width:40px;
}

/**************** last projects progress ***********/

.progress__container span{
    border-left: 2px solid var(--clr-twitter-100);
}

.progress__container span::before{
    content: '';
    position: absolute;
    top: 50%;
    left:-8px;
    transform: translateY(-50%);
    width:15px;
    height:15px;
    border:2px solid var(--clr-light-100);
    outline:2px solid var(--clr-facebook-100);
    border-radius: 50%;
    background: var(--clr-twitter-100);
}

.progress__container span:first-child{
    padding-top: 0;
}
.progress__container span:last-child{
    padding-bottom: 0;
}

.progress__container span:first-child::before{
    top:9px;
}
.progress__container span:last-child::before{
    bottom: -7px;
    top: auto;
}

.progress__container span.current::before{
    background: var(--clr-facebook-50);
    animation:station 1.2s ease-in-out infinite backwards;
}
.progress__container span.yet::before{
    background: var(--clr-light-100);
}

/* rocket */

.rocket{
    position: absolute;
    bottom:-1rem;
    right:2.5rem;
    max-width:150px;
    opacity: .2;
    animation: fired 5.5s linear infinite;
}


/************************* reminders ***************/

.reminder{
    padding-left:7px;
    border-left:2px solid #00f;
}

.reminder::before{
    content: '';
    position: absolute;
    top: 50%;
    left:-26px;
    transform: translateY(-60%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
}

.reminder.facebook{
    border-color: var(--clr-facebook-100);
}
.reminder.facebook::before{
    background: var(--clr-facebook-100);
}
.reminder.tomato{
    border-color: var(--clr-tomato-100);
}
.reminder.tomato::before{
    background: var(--clr-tomato-100);
}
.reminder.primary{
    border-color: var(--clr-primary-100);
}
.reminder.primary::before{
    background: var(--clr-primary-100);
}
.reminder.orange{
    border-color: var(--clr-orange-100);
}
.reminder.orange::before{
    background: var(--clr-orange-100);
}

/******************** last-post ****************/
.last-post .my-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/****************** icon-container *************/

.icon-container {
    height: 55px;
    width: 55px;
}

/************************** projects ***************/
.projects{
    grid-column:1 / -1;
    max-width: 100%;
    margin-top:50px;
}
.projects-table{
    overflow-x:auto;
}
.projects-table table {
    min-width:900px;
    border-spacing: 0;
    color: var(--clr-dark-50);
}
.projects-table table th {
    padding: 5px .62rem;
    border-top:1px solid var(--clr-light-100);
    border-bottom:1px solid var(--clr-light-100);
    border-left: 1px solid var(--clr-light-100);
    font-size: 15px;
    font-weight:800;
    background: var(--clr-light-25);
}
.projects-table table th:not(:first-of-type){
    position: relative;
    margin-left: -15px;
}
.projects-table table td {
    padding: 5px .62rem;
    border-left: 1px solid var(--clr-light-25);
    border-bottom: 1px solid var(--clr-light-25);
    font-size: 13px;
    font-weight:600;
}

.projects-table table tr th:last-child,
.projects-table table tr td:last-child{
    border-right: 1px solid var(--clr-light-25);
    text-align: center;
}

.projects-table table img{
    position: relative;
    width:30px;
    height:30px;
    border-radius: 50%;
    padding: 2px;
    border: .5px solid var(--clr-dark-25);
    background: var(--clr-light-100);
}

.projects-table table img:not(:first-of-type){
    margin-left: -10px;
}

/************************** animation ***********/

@keyframes station{
    from{
        background: var(--clr-facebook-50);
    }
    to{
        background: var(--clr-facebook-100);
    }
}

@keyframes fired{
    0%{
        bottom:-2rem;
        opacity: 0;
    }
    50%{
        bottom:30%;
        opacity:.5;
    }
    100%{
        bottom:50%;
        opacity:0;
    }
}

