.main-projects img{
    position: relative;
    margin-left: -15px;
    width:40px;
    height:40px;
    border-radius: 50%;
    padding: 2px;
    border: .5px solid var(--clr-dark-15);
    background: var(--clr-light-100);
}

.main-projects .title-description{
    min-width: 100%;
    line-height: 1.5;
}

.main-projects .bg-gray{
    background:#cccccc75;
}

.main-projects .team{
    min-height:50px;
    display: flex;
    align-items: center;
}

.main-projects .structure{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap:15px;
}

.main-projects hr{
    width: 95%;
}

.structure__footer{
    gap: 10px;
    align-items:center;
    align-self: center;
}


.structure__progress{
    width:65%;
    min-width: 200px;
    max-width: 350px;
    height:8px;
    border-radius: 8px;
    margin-bottom:7px;
}