
.settings .title-description {
    white-space: normal;
    line-height: 1.6;
}

.security .custom-toggle{
    margin-top: 45px;
}

/********** social *********/

.social-row{
    height: 40px;
    flex-direction: row-reverse;
}
.social i{
    transition:color .3s ease-in-out;
}
.social-row input:focus + div > i{
    color: var(--clr-dark-100);
}

.social {
    width: 40px;
    border-right: 1px solid #ccc;
}

.social-row , .content{
    background: var(--clr-light-50);
    border:.5px solid var(--clr-dark-15);
}

/********************* servers *********************/

.server{
    min-width: 140px;
}

.servers label:has(input:checked){
    color: var(--clr-facebook-100);
    border-color: var(--clr-facebook-100);
} 

.servers input{
    position: absolute;
    width:0px;
    height:0px;
    padding: 1px;
    margin: -1px;
}


.server span{
    font-size: 1.2rem;
}